{% extends "base.html" %}

{% block shop_id %}{{ session['shop_id'] }}{% endblock %}

{% block order_tag %}
{% if session.get('order_id', None) != None %}
<li ><a href="/active_order/view/{{ session['order_id'] }}"><i class="icon-question-sign"></i> Order #{{ session['order_id'] }}</a></li>
{% endif %}
{% endblock %}

{% block is_menu %}
    class="active"
{% endblock %}

{% block content %}
<div class="row">
     <div class="span4">
         <h2>{{ dish.name }}</h2>
		 <h5><a href="/shop/{{ shop_id }}/category/{{ Category.query.filter_by(category_id=dish.category_id).first().category_id }}">
			{{ Category.query.filter_by(category_id=dish.category_id).first().name }}</a></h5>
		 <img src="http://www.placehold.it/120x120" class="img-polaroid" style="float: left; margin-right: 8px;">
         <p>{{ dish.description }}
         </p>
		<h3>{{ format_price(dish.price_dollars()) }}</h3>
		<form action="/cart/add" method="POST">
		<input type="hidden" name="dish_id" value="{{ dish.dish_id}}" />
		<input type="hidden" name="shop_id" value="{{ session['shop_id'] }}" />
		<input type="submit" class="btn-primary btn-large" value="Order">
		</form>
     </div>
 </div>
<div class="row" style="margin-top: 10px;">
	<div class="span4">
	<h3>Reviews</h3>
     <form class="navbar-form pull-left">
	  <textarea name="comment" placeholder="Type comment..."></textarea>
	  <button type="submit" class="btn">Submit</button>
	</form>
	</div>
 </div>
</div>
{% endblock %}